.BasicInfo {
  width: 60%;
  margin: 16px auto;
  border: 2px solid black;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
  background-color: silver;
  margin-top: 50px;
}

@media (min-width: 500px) {
  .BasicInfo {
    width: 450px;
  }
} ;
